[Unit]
Description=Odigos Demo Currency Service
After=network.target

[Service]
ExecStart=php -S -t /opt/odigos-demo-currency/index.php
KillMode=mixed
Restart=on-failure
RestartSec=1s
RestartSteps=1s
RestartMaxDelaySec=1min
Type=simple
User=odigos
Group=odigos
Environment="PORT=8085"

[Install]
WantedBy=multi-user.target
