[Unit]
Description=Odigos Demo Pricing Service
After=network.target

[Service]
#ExecStart=dotnet /opt/odigos-demo-pricing/pricing.dll
ExecStart=/opt/odigos-demo-pricing/pricing
KillMode=mixed
Restart=on-failure
Type=simple
User=odigos
Group=odigos
Environment="HTTP_PORTS=8083"

[Install]
WantedBy=multi-user.target
