apiVersion: apps/v1
kind: Deployment
metadata:
  name: pricing
  labels:
    app: pricing
spec:
  selector:
    matchLabels:
      app: pricing
  template:
    metadata:
      labels:
        app: pricing
    spec:
      containers:
      - name: pricing
        image: dev/pricing:dev
        ports:
        - containerPort: 8080
        env:
        - name: OTEL_SERVICE_NAME
          value: pricing
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: http://jaeger.tracing:4317
