apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
  labels:
    app: inventory
spec:
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
      - name: inventory
        image: dev/inventory:dev
        ports:
        - containerPort: 8080
        env:
        - name: OTEL_SERVICE_NAME
          value: inventory
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: http://jaeger.tracing:4317
        securityContext:
          runAsUser: 1000
