apiVersion: apps/v1
kind: Deployment
metadata:
  name: currency
  labels:
    app: currency
spec:
  selector:
    matchLabels:
      app: currency
  template:
    metadata:
      labels:
        app: currency
    spec:
      containers:
        - name: currency
          image: dev/currency:dev
          imagePullPolicy: IfNotPresent
          env:
            - name: GEOLOCATION_SERVICE_HOST
              value: geolocation:8080
          ports:
            - containerPort: 9000
