name: Verify Docker Builds

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build-packages:
    strategy:
      fail-fast: false
      matrix:
        service:
          - coupon
          - currency
          - frontend
          - geolocation
          - inventory
          - membership
          - pricing
          - load-generator
    runs-on: depot-ubuntu-24.04-4
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build and package ${{ matrix.service }}
        working-directory: ${{ matrix.service }}
        run: make -j package-all build-all

      - name: Upload deb artifacts
        uses: actions/upload-artifact@v4
        with:
          name: packages-${{ matrix.service }}-deb
          path: ${{ matrix.service }}/bin/*.deb

      - name: Upload rpm artifacts
        uses: actions/upload-artifact@v4
        with:
          name: packages-${{ matrix.service }}-rpm
          path: ${{ matrix.service }}/bin/*.rpm
