name: Release Demo Services

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  id-token: "write"
  packages: write

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        service:
          - load-generator
          - coupon
          - currency
          - frontend
          - geolocation
          - inventory
          - membership
          - pricing
          # Demo is only a virtual package to allow installing and uninstalling the entire simple demo in a single command.
          - demo
    runs-on: depot-ubuntu-24.04-4
    steps:
      - name: Store new version in env
        run: echo "TAG=${GITHUB_REF##refs/*/}" >> $GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - id: gcp-auth
        name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          token_format: "access_token"
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
          access_token_lifetime: 1800s

      - name: Login to Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: us-central1-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.gcp-auth.outputs.access_token }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and package ${{ matrix.service }}
        working-directory: ${{ matrix.service }}
        env:
          TAG: ${{ env.TAG }}
        run: make package build

      - name: Build and Push Docker Image for ${{ matrix.service }}
        # Demo is only a linux package
        if: matrix.service != 'demo'
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            us-central1-docker.pkg.dev/odigos-cloud/components/odigos-demo-${{ matrix.service }}:${{ env.TAG }}
            ghcr.io/${{ github.repository }}/odigos-demo-${{ matrix.service }}:${{ env.TAG }}
          platforms: linux/amd64,linux/arm64
          file: ${{ matrix.service }}/Dockerfile
          context: ${{ matrix.service }}

      - name: Upload Linux packages to Artifact Registry
        uses: odigos-io/ci-core/upload-linux-packages@v1.0.5
        with:
          gcp-project-id: ${{ secrets.GCP_PROJECT_ID }}
          gcp-workload-identity-provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          gcp-service-account: ${{ secrets.GCP_SERVICE_ACCOUNT }}
          package-directory: ${{ matrix.service }}/bin
          repository: 'odigos'
