apiVersion: apps/v1
kind: Deployment
metadata:
  name: coupon
  labels:
    app: coupon
spec:
  selector:
    matchLabels:
      app: coupon
  template:
    metadata:
      labels:
        app: coupon
    spec:
      containers:
      - name: coupon
        image: dev/coupon:dev
        imagePullPolicy: IfNotPresent
        env:
          - name: MEMBERSHIP_SERVICE_HOST
            value: "membership:8080"
          - name: OTEL_SERVICE_NAME
            value: coupon
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: http://jaeger.tracing:4317
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
